.App {
  text-align: center;
  color: #21395a;
}

h1 {
  margin: 0px auto 24px;
  font-size: 56px;
}

button {
  width: 160px;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #ff7508;
  transition: all 400ms ease, box-shadow 400ms ease, background-color 400ms ease;
}

button:hover {
  background-color: #ff5d11;
}

.progress {
  margin: 1em;
  letter-spacing: 4px;
}

.capitalize {
  text-transform: capitalize;
}